<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.egrand.cloud.yuncang.file.server.mapper.FolderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.egrand.cloud.yuncang.file.client.model.entity.Folder">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="folder_name" property="folderName" />
        <result column="parent_id" property="parentId" />
        <result column="folder_location" property="folderLocation" />
        <result column="file_size" property="fileSize" />
        <result column="file_count" property="fileCount" />
        <result column="folder_type" property="folderType" />
        <result column="folder_user" property="folderUser" />
        <result column="comment" property="comment" />
        <result column="creater_id" property="createrId" />
        <result column="creater" property="creater" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        id, folder_name, parent_id, folder_location, file_size, file_count, folder_type, folder_user, comment, creater_id, creater
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">egd_yc_folder</sql>
    <!-- 别名 -->
    <sql id="t_alias">egd_yc_folder as folder</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>

    <!-- 自定义查询单个实体 -->
    <select id="getEntityMap" resultType="com.egrand.cloud.core.mybatis.EntityMap">
        SELECT * FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>

    <!-- 自定义关联查询分页 -->
    <select id="pageList" resultType="com.egrand.cloud.core.mybatis.EntityMap">
        select ${ew.select} FROM
        <include refid="t_alias"/>
        <include refid="join"/>
        ${ew.customSqlSegment}
    </select>
</mapper>
